.signup-container {
    float: right;
    margin-top: 100px;
    height: 550px;
    width: 400px;
    background: #ccd0d3;
    padding: 30px;
    border-radius: 15px;  
}

.link{
    color: #fff;
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
    
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    color: #fff;
    background-color: #5d18ff;
    border-color: #182fff;
}

.signup-form input {
    margin-bottom: 3px;
}